#screen-info, #zones-info {
	table-layout: fixed;
	border-spacing: 0;
}

#screen-info th.col0,
#zones-info th.col0 {
	width: 70pt;
}

#screen-info th.col1,
#zones-info th.col1 {
	width: 350pt;
} 

#screen-info tr,
#zones-info tr {
	line-height: 28px;
}
#screen-info td,
#zones-info td {
	border: 0;
	vertical-align: top;
}

#screen-info span,
#zones-info span {
  margin-top: 3px;
	margin-bottom: 3px;
	line-height: 22px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0);
}

#screen-info input,
#zones-info input{
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px inset;
	border-radius: 3px;
	line-height: 20px;
	padding-left: 2px;
	padding-right: 2px;
}

#screen-info span.screen-param,
#screen-info input.screen-param {
	width: 70pt;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
}
.screen-param-unit,
.zone-param-unit {
	width: 20pt;
	padding-left: 4pt;
}

#zones-info span.zone-param {
	margin: 0;
	border: 0;
}

#zones-info .zone-param-row {
	margin-bottom: 3pt;
}
#zones-info .zone-param-row:last-of-type {
	margin-bottom: 0;
}
.zone-css-row {
	width: calc(100% - 28px);
	width: -webkit-calc(100% - 28px);
	width: -moz-calc(100% - 28px);
}
#zones-info span.zone-param-name,
#zones-info input.zone-param-name {
	width: 60pt;
	margin-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
#zones-info span.zone-param-label {
	width: 60pt;
}
#zones-info span.zone-param-value,
#zones-info input.zone-param-value {
	width: 60pt;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
}
.zone-footer {
	background-color: #ccc;
}

.icon-button {
	float :right;
	width :16px;
	height :16px;
	border: 1px outset;
	padding: 3px;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 3px;
	margin-left: 4px;
}
.zone-buttons {
	float: right;
	line-height: normal;
}
.zone-buttons .icon-button {
	display: block;
	float: none;
}
